
.box {
    display: flex;
    backdrop-filter: blur(5px);
    border: 1px solid rosybrown;
    width: 200px;
    height: 200px;
    background-image: url(../img/ke.png);
    background-size: cover;
}

.box.red {
    background-color: bisque;
}
